---
gui:
  nerdFontsVersion: '3'
  showBranchCommitHash: true
  showCommandLog: true
git:
  paging:
    colorArg: always
    {{ if eq .chezmoi.os "windows" -}}
    externalDiffCommand: difft --color=always --display=inline
    {{- else -}}
    pager: diff-so-fancy
    {{- end }}
