{{- if not .headless }}
[user]
name = "andrew nguyen"
email = "ngphuchoanganh@gmail.com"
{{- end }}

[credential]
{{- if and (eq .chezmoi.os "linux") (output "uname" "-r" | lower | contains "microsoft") }}
		helper = "/mnt/c/Users/{{ .win_user }}/scoop/root/apps/git/current/mingw64/bin/git-credential-manager.exe"
{{- end }}
[core]
	pager = diff-so-fancy | less --tabs=4 -RF
[interactive]
	diffFilter = diff-so-fancy --patch
