{{- if not .headless }}
[user]
name = "andrew nguyen"
email = "ngphuchoanganh@gmail.com"
; email = "andrew.nguyen1@techvify.com.vn"
{{- if eq .chezmoi.os "windows" }}
[credential]
	helper = manager
{{- else if .win_user }}
[credential]
		helper = "/mnt/c/Users/{{ .win_user }}/scoop/root/apps/git/current/mingw64/bin/git-credential-manager.exe"
{{- end }}
{{- end }}

[core]
	pager = diff-so-fancy | less --tabs=4 -RF
	autorcrlf = true
[interactive]
	diffFilter = diff-so-fancy --patch
[diff]
	tool = nvim
[difftool "nvim"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
	tool = nvim
[mergetool "nvim"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" -c \"botright split $MERGED\" -c \"set diff\""
	trustExitCode = false
	keepBackup = false
