@define-color bg      #1a1b26;
@define-color fg      #c0caf5;
@define-color accent  #7aa2f7;
@define-color green   #9ece6a;
@define-color purple  #bb9af7;
@define-color cyan    #7dcfff;
@define-color comment #565f89;

/* Geral overlook*/
* {
  border: none;
  border-radius: 0;
  font-family: "CaskaydiaCove Nerd Font", monospace;
  font-size: 13px;
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background-color: @bg;
  color: @fg;
}

/* Workspaces background */
#workspaces {
  background-color: @bg;
  padding: 0 10px;
}

#workspaces button {
  padding: 0 6px;
  color: @comment;
  min-width: 20px;
}

#workspaces button.active {
  color: @accent;
}

/* Colored mouse hover */
#workspaces button:hover {
  background: #24283b;
  color: @fg;
}

#window,
#clock {
  background-color: @bg;
  color: @fg;
  padding: 0 10px;
}

#pulseaudio,
#cpu,
#memory,
/* #clock, */
#network,
#tray {
  padding: 0 15px;
  margin: 0;
  border: 0.5px solid rgba(100, 114, 125, 0.5);
  color: @fg;
  background-color: @bg;
}

#tray {
  background-color: @bg;
}
