{
	"general": {
		"preferredEditor": "neovim",
		"vimMode": false,
		"checkpointing": {
			"enabled": true
		},
		"enablePromptCompletion": true
	},
	"ui": {
		"theme": "Default",
		"hideWindowTitle": true,
		"hideTips": true,
		"hideBanner": true,
		"hideFooter": false,
		"showMemoryUsage": true,
		"showLineNumbers": true,
		"showCitations": true,
		"accessibility": {
			"disableLoadingPhrases": false
		}
	},
	"model": {
		"summarizeToolOutput": {
			"run_shell_command": {
				"tokenBudget": 2000
			}
		}
	},
	"context": {
		"contextFileName": [
			"GEMINI.MD",
			"AGENTS.MD"
		]
	},
	"tools": {
		"shell": {
			"showColor": true
		}
	},
	"mcp": {
		"allowed": [
			"shadcn",
			"context7",
			"serena"
		]
	},
	"mcpServers": {
		"serena": {
			"command": "uv",
			"args": [
				"run",
				"--directory",
				"$HOME/serena-mcp",
				"serena-mcp-server"
			]
		},
		"shadcn": {
			"command": "npx",
			"args": [
				"shadcn@latest",
				"mcp"
			]
		},
		"context7": {
			"command": "npx",
			"args": [
				"-y",
				"@upstash/context7-mcp",
				"--api-key",
				"ctx7sk-4be38d02-7c54-4128-9457-570f944c4c62"
			]
		}
	},
	"security": {
		"auth": {
			"selectedType": "oauth-personal"
		}
	}
}
